<h1>Front personas</h1>
<nav>
  <a href = "">HOME  |  </a>
  <a href = "/persona">PERSONA  |  </a>
  <!-- <a [routerLink] = "['/fruta']" [routerLinkActive] = "['activado']">FRUTA - </a>
  <a [routerLink] = "['/empleado']" [routerLinkActive] = "['activado']">EMPLEADO - </a>
  <a [routerLink] = "['/contacto']" [routerLinkActive] = "['activado']">CONTACTO - </a>
  <a [routerLink] = "['/coches']" [routerLinkActive] = "['activado']">COCHES</a> -->
</nav>

<!-- <app-persona></app-persona> -->

<router-outlet></router-outlet>